:root {
  --wrapper-padding-x: 65px;
  --wrapper-padding-y: 30px;
  --wrapper-padding: var(--wrapper-padding-y) var(--wrapper-padding-x);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
}

.wrapper {
  padding: var(--wrapper-padding);
}
